* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html,
#home {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  color: #fff;
  /* background: url(./imagens/Carros.gif); */

}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
li,
ul,
p {
  font-family: "anta";
  text-decoration: none;
  color: #fff;
}
header {

  background: #0c0c0c;
  list-style: none;
  min-height: 4.5rem;
  color: #fff;

}

#bmw-red {
  background: #5a020e;
}

#bmw-blue {
  background: linear-gradient(90deg, #5b9fd3 0%, #005494 100%);
}

#bmw-dark-blue {
  background: #0b0b15;
}

#porsche-yellow {
  background: #ddba56;
}

#porsche-red {
  background: linear-gradient(90deg, #eb6f74 0%, #cb2e32 100%);
}

#porsche-black {
  background: #14110a
}
#kawasaki-verde{
  background: linear-gradient(90deg, #8de67f 0%, #1bb304 100%);
}
#kawasaki-black{
  background: #000;
}
.kawasaki-verde-escuro{
  background: #044404;
}
.ferrari-amarelo{
  background: #fff200;
}
.ferrari-verde{
  background: #0d8922;
}
.ferrari-vermelho{
  background:linear-gradient(90deg, #e26569 0%, #ed1c24 100%);

}
.text-black{
  color: #000;
}
.text-white{
  color: #ffffff;
}