/* Layout
-----------------------------*/
html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.imprima-regular {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}


a,
li,
ul,
p,
h3 {
    font-family: "Imprima";
    text-decoration: none;
    color: #fff;
}

.text-black {
    color: #000;
}


body {
    background-attachment: fixed;
    background: linear-gradient(204deg, #bfebae, #bfebae);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}



@-webkit-keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}


/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
    padding: 15px 0px;
    background: #307507e1;
}

.navbar-light .navbar-nav .nav-link {
    color: #c0c0c0;
}

.navbar-light .navbar-nav .nav-link:hover {
    transition: all 0.6s;
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.ativo {
    color: #fff;
}
/* navbar
-----------------------------*/
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    margin-left: 1em;
    letter-spacing: 0.2em;
}
/* cards
-----------------------------*/
.card-decoration {
    border: none;
    background: linear-gradient(180deg, #8eda62e1, #62a13de1,#62a13de1,#62a13de1,#356b15e1);
    box-shadow: 0 0 10px #242424;

}
.botao-flex-cards{
    justify-content: center;
}
.img-card {
    object-fit: cover;
    padding: 0.5em;
    border-radius: 1em;
}
.btn-cards {
    background-color: #0f640c;
    box-shadow: 0 0 0.3em #00000075;
    color: white;
    font-size: 1em;

}
.card-title {
    font-size: 1.4em;
}

.cards-desc {
    font-size: 0.8rem;
}


/* Rodapé
-----------------------------*/
footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}






/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

     .card {
        margin-top: 8vh;
        max-width: 42vw;
        border-radius: 1em;
        font-size: 0.8rem;
    }
    
    .img-card {
        height: 25vh;
    }

    

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        margin-top: 8vh;
        width: 45vw;
        border-radius: 1em;
    }
    
    .img-card {
        height: 35vh;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.8em;
        margin-left: 1em;
    }
    .card {
        margin-top: 8vh;
        width: 28vw;
        margin-left: 2vw;
        border-radius: 1em;
    }
    
    .img-card {
        height: 25vh;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        margin-top: 8vh;
        margin-left: 2vw;

        width: 28vw;
        border-radius: 1em;
    }
    
    .img-card {
        height: 25vh;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  

    .cards-section {
        margin-top: 5rem;
    }

    #section-cards {
        width: 100%;
    }

    .card {
        width: 22vw;

    }

    .card:hover {
        transform: scale(1.04);
        transition: all 0.6s;
    }

   
    .img-card {
        height: 30vh;
    }
    

 
    .btn-cards:hover {
        background: #357e0be1;
        color: white;
        box-shadow: 0 0 10px #225f10b0;
        transform: scale(1.02);
        transition: all 0.6s;
    }

}