.imprima-regular {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Imprima";
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background: #eff5ff;
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container-preto {
    width: 55%;
    height: 100%;
    background: url(logo.png) no-repeat;
    filter: grayscale(85%)
}

.login-container {
    min-width: 40%;
    padding: 1.25rem;
    border-radius: 0.5rem;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2.25rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    animation: fadeInLogo 1s ease forwards;

}

@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: translateY(-2.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    width: 10rem;
    font-size: 1.5rem;
    margin: 0.3rem;
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-weight: bold;
    transition: background-color 02s, transform 0.2s ease-out;
    box-shadow: 0 0 0.6rem #00000049;
}

button:hover {
    box-shadow: 0 0 0.8rem #03012f7d;
    transform: translateY(-0.1rem);
}

input {
    display: block;
    padding: 0.6rem;
    margin: 0.3rem;
    margin-left: 10%;
    width: 80%;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #8b87874f;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0.6rem #4cd0f46b;
}

form {
    margin-top: 1.25rem;
    display: none;
}



.social-login {
    margin-top: 1.8rem;
    text-align: center;
}

.social-login i {
    font-size: 1.5rem;
    margin: 0 0.6rem;
    cursor: pointer;
    color: #000000;
    transition: transform 0.2s ease-out;
}

.social-login i:hover {
    transform: translateY(-0.1rem);
    color: #007bff;
}