* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  background: linear-gradient(-90deg, #c6fdfd 55%, #a3ffff 100%);

}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
li,
ul,
p {
  font-family: "anta";
  text-decoration: none;
}

@media (max-width:480px) {
  .classlogin {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(5, 1fr);
  }

  .titulo {
    grid-row: 1;
    font-size: 10px;

  }

  #titulologin {
    color: #c6fdfd;
    font-size: 0.5em;
    margin-top: 1em;
    text-shadow: 0 0 0.2em #1aa7a7;
  }
  .centro {
    grid-row: 2/-2;
    display: flex;
    flex-direction: column;
  }

  .caixadelogin{
    font-size: 5px;

  }
  /* .classlogin {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 80em;
    height: 85vh;
    background-color: #3ce4e4;
    margin: 0 auto;
    margin-top: 2.5%;
    box-shadow: 0 0 1em #1b9e9e;
    border-radius: 1em;
  }

  .titulo {
    grid-row: 1;
    width: 100%;
  }

  #titulologin {
    color: #c6fdfd;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
    letter-spacing: 0.2em;
    text-shadow: 0 0 0.2em #1aa7a7;
  }

  .centro {
    grid-row: 2/-2;
    display: flex;
    flex-direction: column;
  }

  .caixadelogin {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 1em;
    border: none;
    padding: 1em;
    background-color: #2cc0c0;
    box-shadow: 0 0 0.4em #0b5a5a;
  }

  ::placeholder {
    color: #fdffff;
    opacity: 70%;
    font-size: 1.2em;
  }

  .footer {
    grid-row: -2/-1;
  } */
}