body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf4e1;
    overflow-x: hidden;
}

.dark-mode {
    background-color: #333;
    /* Fundo escuro */
}

.color-blind-mode {
    background-color: #f2f2f2;
    /* Fundo para daltonismo */
}

nav {
    background-color: #2ecc71;
    /* Verde esmeralda */
    color: #fff;
    padding: 1rem;
    /* Alterado para 1rem */
    text-align: center;
    animation: fadeInDown 1s ease-in-out;
}

.dark-mode nav {
    background-color: #111;
    /* Navbar em modo escuro */
}

.color-blind-mode nav {
    background-color: #777;
    /* Navbar em modo daltonismo */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    /* Alterado para 1rem */
    padding: 0.625rem;
    /* Alterado para 0.625rem */
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    /* Para posicionar o contorno */
}

nav a:hover {
    color: #27ae60;
    /* Verde folha */
}

nav a.dark-mode-active::after,
nav a.color-blind-mode-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.125em;
    /* Distância da borda de baixo */
    width: 100%;
    height: 2px;
    background-color: #27ae60;
    /* Cor do contorno */
}

.conteudo {
    margin-top: 3rem;
    /* Alterado para 3rem */
    padding: 2rem;
    /* Alterado para 2rem */
}

.form-container {
    background-color: #ffffff;
    border-radius: 1rem;
    /* Alterado para 1rem */
    padding: 2rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    /* Alterado para 1rem */
    max-width: 60%;
    /* Alterado para 90% */
    margin: 0 auto;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-2rem);
        /* Alterado para -2rem */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup {
    position: fixed;
    bottom: 2rem;
    /* Alterado para 2rem */
    right: 2rem;
    /* Alterado para 2rem */
    background-color: #fff;
    padding: 1rem 2rem;
    /* Alterado para 1rem e 2rem */
    border-radius: 5px;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
    /* Alterado para 0.625rem */
    animation: fadeIn 0.5s ease;
    display: none;
}

.form-container h1 {
    color: #6ab04c;
    text-align: center;
    margin-bottom: 2rem;
    /* Alterado para 2rem */
}

.form-container label {
    color: #46873d;
    display: block;
    margin-bottom: 0.3125rem;
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="file"] {
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
    /* Alterado para 1rem */
    padding: 0.625rem;
    /* Alterado para 0.625rem */
    margin-bottom: 2rem;
    /* Alterado para 2rem */
    border-radius: 5px;
    border: 1px solid #46873d;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.form-container input[type="text"]:focus,
.form-container textarea:focus,
.form-container input[type="file"]:focus {
    border-color: #6ab04c;
}

.form-container button {
    background: #3d9970;
    color: #f2f2f2;
    padding: 0.625rem 1.25rem;
    /* Alterado para 0.625rem e 1.25rem */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 1rem;
    /* Alterado para 1rem */
}

.form-container button:hover {
    background: linear-gradient(to right, #3d9970, #1e4f39);
}

.form-container button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}