* {
    font-family: "Imprima";
    text-decoration: none;
    color: #fff;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.imprima-regular {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-attachment: fixed;
    background: linear-gradient(204deg, #bfebae, #bfebae);
    background-size: 300% 300%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}


/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
    padding: 15px 0px;
    background: #307507e1;
    height: 8vh;
}

.navbar-light .navbar-nav .nav-link {
    color: #c0c0c0;
}

.navbar-light .navbar-nav .nav-link:hover {
    transition: all 0.6s;
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.ativo {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    margin-left: 1em;
    letter-spacing: 0.2em;
}


.contcarrosel {
    width: 100%;
}

/* cards
-----------------------------*/


.card-publicacao{
    margin-top: 15vh;
    width: 80vw;
    height: 70vh;
    background:linear-gradient(100deg,#307507e1,#71f027e1,#71f027e1,#307507e1);
    border-radius: 2em;
    box-shadow: 0 0 1em #333333;
}

#titulo-informacoes{
    margin-top: 5vh;
    color: #d6fccf;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}
#texto-info{
    text-shadow: 0 0 10px #000;

    margin-top: 5vh;
    width: 30vw;
}
.card-title{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}
#title{
    color: #f3f3f3;
    text-shadow: 0 0 4px #73f113;


}
.card-conteudo{
    margin-left: 25%;
}
.container-formulario{
    margin-top: 20%;
}
.input-login{
    margin: 0 auto;
    margin-top: 4rem;
    width: 70%;
    height:3rem;
    border-radius: 10px;
}
#email{
    background: #bfebae;
    border: 1px solid #49a840;
    box-shadow: 0 0 10px #84c255be;
}
#password{
    background: #bfebae;
    border: 1px solid #49a840;

    box-shadow: 0 0 10px #84c255be;
}
.botao-style{
    
    background-color: #49a840;
    width: 20%;
    margin: 0 auto;
    margin-top: 10px;
}


/* Rodapé
-----------------------------*/
footer {
    
    background: #307507e1;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.2em;
        margin-left: 1em;
        letter-spacing: 0.2em;
    }


    .img-card {
        object-fit: cover;
        height: 25vh;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #home {
        margin-top: 7vh;
    }



}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.9em;
        margin-left: 1em;
        letter-spacing: 0.1em;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    

}