/* Layout
-----------------------------*/
* {
    font-family: "imprima";
    text-decoration: none;
    color: #fff;

}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


.imprima-regular {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}



body {
    background-attachment: fixed;
    background: linear-gradient(204deg, #1ea729, #041005);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}



@-webkit-keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 77% 0%
    }

    50% {
        background-position: 24% 100%
    }

    100% {
        background-position: 77% 0%
    }
}


/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
    padding: 15px 0px;
    background: #000000e1;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    margin-left: 1em;
    letter-spacing: 0.2em;
    color: #c0c0c0;

}

.navbar-light .navbar-nav .nav-link:hover {
    transition: all 0.6s;
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.ativo {
    color: #fff;
}








/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .navbar-light .navbar-nav .nav-link {
        font-size: 0.9em;
        margin-left: 1em;
        letter-spacing: 0.1em;
    }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .navbar-light .navbar-nav .nav-link {
        letter-spacing: 0.1em;
    }



}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


    .navbar-light .navbar-nav .nav-link {
        font-size: 1.2em;
        margin-left: 1em;
        letter-spacing: 0.2em;
    }




}